.bg-success {
    background-color: #0082C9 !important;
}

.bg-warning {
    background-color: #f528a5 !important;
}

.btn-success {
    color: #fff;
    background-color: #0082c9;
    border-color: #0082c9;
}

.btn-success:hover {
    color: #fff;
    background-color: #f528a5;
    border-color: #f528a5;
}

.btn-success:active {
    color: #fff !important;
    background-color: #0082c9 !important;
    border-color: #0082c9 !important;
}

#main-wrapper .topbar .navbar-collapse[data-navbarbg=skin5],
#main-wrapper .topbar[data-navbarbg=skin5] {
    background: #1F262D !important;
}

#navbarSupportedContent {
    background: #0082C9 !important;
}

.danger-icon {
    color: red;
}

.success-icon {
    color: green;
}

a {
    text-decoration: none !important;
}

select {
    word-wrap: normal;
    width: 100%;
    height: 100%;
    text-align: justify;
    text-transform: capitalize;
    border-radius: 4px;
    border-color: #1f262d;
}

.text-right {
    text-align: right !important;
    padding: 5px !important;
}

.table-bordered th,
.table-bordered td {
    border: 1px solid #dee2e6;
    text-transform: capitalize;
}

i.fa.fa-trash.mr-2 {
    color: black;
}

select#show_id {
    word-wrap: normal;
    text-transform: capitalize;
}

select#category_id {
    word-wrap: normal;
    text-transform: capitalize;
}

i.fa.fa-edit.mr-2 {
    color: black;
}
input#fullname {
    border: 0px;
    width: auto;
}